/* Primary Sass file */
// Styles
html, body {
    height: 100%;
    display: block;
  
  }
  
  body {
    @extend %font-shared;
    font-size: 14px;
    background-color: $background-color;
    padding: 0;
    margin: 0 auto;
    display: block;
    color: $text-color;
  }
  
  * {
    box-sizing: border-box;
  }
  