ul li.half {
    width: 49%;
    float: left;
    clear: none;
}
.float-right {
    float: right;
}
.mat-form-field {
    width: 100%;
    margin-top: 3px;
}
.mat-hint {
    color: red;
}
ul.form-container textarea
{
    height: 100px;
}
.mat-form-field-wrapper {
    padding-bottom: 0;
}
.mat-form-field-subscript-wrapper {
    position: relative;
}