<div class="row">

  <div class="col-md-6">
    <h1>Contact me</h1>
    <p>If you have any questions please don't hesistate to contact using form below</p>

    <ul class="form-container">
      <li class="half">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" type="text" [formControl]="name" required>
        </mat-form-field>
      </li>

      <li class="half float-right">
        <mat-form-field appearance="outline">
          <mat-label>Email your email</mat-label>
          <input matInput placeholder="you@example.com" type="email" [formControl]="email" required>
        </mat-form-field>
      </li>
       
      <br>

      <li>
        <mat-form-field appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput placeholder="Subject" >
        </mat-form-field>
      </li>

      <li>
        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Raymond you're so cool"></textarea>
          <mat-hint>Hint</mat-hint>
          </mat-form-field>
      </li>

      <li>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      
      <button mat-stroked-button >
        Send
      </button>
    </ul>
  </div>

  <div class="col-md-6">

  </div>


</div>