@media only screen and (min-width: 320px) {
    .carousel-control-next, 
    .carousel-control-prev {
    opacity: 1;
    }
    .carousel-control-next-icon, 
    .carousel-control-prev-icon {
        background-size: 50% 100%;
        padding: 15px;
        border-radius: 50%;
        background-color: #181818;
    }
}

@media only screen and (min-width: 700px) {
/** Carousel indicators **/
.carousel-control-next-icon, 
.carousel-control-prev-icon {
    padding: 20px;
}
}

/** Row **/
.row {
    margin-right: 0;
    margin-left: 0; 
}

/** Unordered list **/
ul {
    list-style: none;
    padding: 0;
}

/** Link **/
a,
a:hover {
    text-decoration: none;
    color: #444444 !important;
}

/** Buttons **/
button {
    outline: none;
    cursor: pointer;
}
