@media only screen and (min-width: 320px) {
    .h1, h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-top: 2rem;
        font-weight:bolder; 
    }
}
  
@media only screen and (min-width: 600px) {
    .h1, h1 {
        font-size: 6.242rem;
        line-height: 6rem;
        margin-top: 3rem;
    }
}
  