html, body {
  height: 100%;
  display: block;
}

body {
  font-family: Helvetica, sans-serif;
  color: #444444;
  font-size: 14px;
  padding: 0;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

// Abstract 
@import "stylesheets/abstract/functions";
@import "stylesheets/abstract/mixins";
@import "stylesheets/abstract/placeholders";
@import "stylesheets/abstract/variables";

// Base
@import "stylesheets/base/reset";
@import "stylesheets/base/typography";

// Utilities
@import "stylesheets/utilities/buttons";
@import "stylesheets/utilities/carousel";
@import "stylesheets/utilities/cover";
@import "stylesheets/utilities/dropdowns";

// Layouts 
@import "stylesheets/layouts/footer";
@import "stylesheets/layouts/forms";
@import "stylesheets/layouts/grids";
@import "stylesheets/layouts/header";
@import "stylesheets/layouts/navigation";
@import "stylesheets/layouts/sidebar";

// Vendors
@import "stylesheets/vendors/bootstrap";
@import "stylesheets/vendors/jquery-ui";

// //Components
@import "app/home/home.component.scss";
@import "app/projects/projects.component.scss";

//Angular Material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
