<div class="intro">
    <h1 class="name-title">
        {{firstName}}
        <br> {{lastName}}
    </h1>

    <span class="lead-categories">HTML 5</span>
    <span class="lead-categories">CSS 3</span>
    <span class="lead-categories">SASS</span>
    <span class="lead-categories">JavaScript</span>
    <span class="lead-categories">Angular</span>
    <span class="lead-categories">TDD / BDD</span>
    <span class="lead-categories">Git</span>
    <span class="lead-categories">Bootstrap</span>
    <span class="lead-categories">BEM</span>
    <span class="lead-categories">Pair Programming</span>
    <span class="lead-categories">Affinity</span>
    <span class="lead-categories">UI / UX Design</span>
    <span class="lead-categories">Web Development / Design</span>
    <span class="lead-categories">Responsive Development / Design</span>

    <p class="lead-text">
        London, UK based Frontend Web Developer currently enjoying designing and building beautifully simple things
        that make a difference.
        
        <br><br>

        Have a project you'd like to discuss? Lets chat 
        <a href="mailto:ralake95@gmail.com?Subject=Hello%20Raymond" class="lead-email" target="_top">
            <strong>ralake95@gmail.com</strong>
        </a>
    </p>

    <div class="social-link--container">
        <a href="https://github.com/ray1295"><i class="fab fa-github"></i></a>
        <a href="https://github.com/ray1295/my-portfolio"><i class="fab fa-linkedin"></i></a>
        <a href=""><i class="fas fa-file-alt"></i></a>
    </div>

</div>

<div class="about">

    <!-- <div class="projects-container">
        <a href="">
            <h3>Circlearn</h3>
            <img src="../../assets/logos/circlearnlogo.png">
        </a>
        <a href="">
            <h3>Hiveli</h3>
            <img src="../../assets/logos/hivelilogo.png">
        </a>
        <a href="">
            <h3>MoChuunks</h3>
            <img src="../../assets/logos/mochunkslogo.png">
        </a>
    </div>

    <br> -->

    <!-- <p class="lead-text">
        My main area of expertise is front end development... HTML, CSS, JS (ES6), Angular, building small and medium
        Web Apps
        Everything started with ... In 2016 I started my first project ... Two years later, and with my degree
        finished, I started to ...

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit
        enim, sunt cumque
        placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet
        consectetur
        adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat vero natus
        dolorum
        quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
        harum
        officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae quae
        beatae,
        eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati.
        Nihil
        hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem
        ipsum
        dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt
        cumque
        placeat vero natus dolorum quas ab, repudiandae
    </p> -->
    <h2>Recent Projects</h2>

    <div class="grid-wrapper">
        <div class="block mo-slice">
                <div class="block-info">
                    <h3>MoChunkks</h3>
                    <hr>
                    <p class="lead-text ">facere quasi nihil nisi molestiae ratione eligendi odit labore cum!</p>
                </div>
        </div>
        <div class="block">
        </div>
        <div class="block">
        </div>
        <div class="block">
        </div>
    </div>

</div>