<div class="intro">
    <h1 class="name-title">
        Raymond
        <br> Alake
    </h1>

    <span class="lead-categories">
        Front End Developer
    </span>

    <span class="lead-categories">
        Angular 5
    </span>

    <br>

    <p class="lead-text">
        My passion is designing and building beautifully
        <br> simple things that make a difference.
    </p>

    <button mat-stroked-button color="warn">
        Contact Me
    </button>
</div>

<div class="about">

    <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque
            placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim
    </h2>
    <p class="lead-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque
    placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae
    quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati.
    Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat
    vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae
    quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati.
    Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat
    vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae
    quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati.
    Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat
    vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae
    quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati.
    Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat
    vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae
    quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati.
    Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat
    vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae
    quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati.
    Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat
    vero natus dolorum quas ab, repudiandae quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quas harum officiis saepe obcaecati. Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae
    quae beatae, eius corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum officiis saepe obcaecati.
    Nihil hic odit enim, sunt cumque placeat vero natus dolorum quas ab, repudiandae quae beatae, eius corporis?
</p>
</div>