<div class="intro">
    <h1 class="name-title">
        {{firstName}}
        <br> {{lastName}}
    </h1>

    <span class="lead-categories">HTML 5</span>
    <span class="lead-categories">CSS 3</span>
    <span class="lead-categories">JavaScript</span>
    <span class="lead-categories">Angular</span>
    <span class="lead-categories">Typescript</span>
    <span class="lead-categories">Sass</span>
    <span class="lead-categories">Bootstrap</span>
    <span class="lead-categories">Angular Material</span>
    <span class="lead-categories">Git</span>
    <span class="lead-categories">GitHub</span>
    <span class="lead-categories">BEM</span>
    <span class="lead-categories">Pair Programming</span>
    <span class="lead-categories">UI</span>
    <span class="lead-categories">UX</span>
    <span class="lead-categories">Affinity Design</span>
    <span class="lead-categories">Web Development</span>
    <span class="lead-categories">Web Design</span>
    <span class="lead-categories">Responsive Development</span>
    <span class="lead-categories">Responsive Design</span>

    <p class="lead-text">
        London, UK based Junior Frontend Web Developer currently enjoying designing and building beautifully simple
        things that make a difference.

        <br><br>

        Have a project you'd like to discuss? Let's chat
        <a href="mailto:ralake95@gmail.com?Subject=Hello%20Raymond" class="lead-email" target="_top">
            <strong>ralake95@gmail.com</strong>
        </a>
    </p>

    <div class="social-link--container">
        <a href="https://github.com/ray1295" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/raymond-alake-98522488/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="../../assets/RaymondAlake.pdf" download><i class="fas fa-file-alt"></i></a>
    </div>

</div>

<div class="about">
    <img src="../../assets/logos/ra-logo-3d.png" alt="RA-Logo-3D">
</div>
