@media only screen and (min-width: 320px) {
    .intro {
        position: absolute;
        top: 10%;
    }
    .lead-text {
        font-size: 0.8rem;
        margin-top: 1rem;
    }
    .lead-categories {
        background-color: #444444;
        color: white;
        border-radius: 3px;
        padding: 4px 8px;
        margin: 2px;
        font-size: 12px;
        line-height: 1.5;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .lead-email {
        text-decoration: underline;
    }
    .about {
       display: none
    }
    .social-link--container {
        i {
            font-size: 32px;
            margin-right: 24px;
        }
    }
}
  
@media only screen and (min-width: 600px) {
    .intro {
        position: fixed;
    }
    .name-title {
        margin-top: 0;
    }

    .about h2 {
        font-size: 1.414rem;
    }
    .lead-text {
        font-size: 1.2rem;
    }
}
  
@media only screen and (min-width: 1024px) {
    .intro {
        width: 40%;
    }
    .about {
        display: inherit;
        position: absolute;
        top: 10%;
        left: 50%;
        width: 50%;
        height: 50%;
        margin-bottom: 5%;
        padding: 10px 5% 0 0;
        img {
            width: 100%;
        }
    }

}
